<style type="text/css">
.even {
  background-color: #f0f0f0;
}
</style>

<table border="1" cellspacing="0">
	<%= content_tag :tr do -%>
		<th>Date</th>
		<% apps.each do |app| %>
			<th><%= link_to app.short_app_name, edit_app_path(app) %> </th>
		<% end %>
		<th>Daily Total</th>
	<% end -%>
	<%= render upload_files %>
</table>