<h1>Upload iTunes Connect Sales Detail</h1>


<%= form_tag({:action => :upload}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Upload" ) %>
<% end %>


<h2>Recently Uploaded Files</h2>
<%= render partial: "upload_files/upload_files_collection", locals: {apps: @apps, upload_files: @upload_files} %>
