<table border=1 cellspacing=0 style="border-color:#f0f0f0;">
<tr>
<% @headers.each do |head| %>
	<th><%= head %></th>
<% end %>
</tr>

<% @rows.each do |row| %>
	<tr>
		<% row.each do |col| %>
			<td><%= col %></td>
		<% end %>
	</tr>
<% end %>
</table>
